//  styleing of navbar
.navbar{
	border-radius:0;
	font-size: 1em;
    font-family: "futura-pt",sans-serif;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
    background:url("congruent_outline.png")
}
// styleing brand font, logo
.navbar-inverse a.navbar-brand {
	font-family: "futura-pt",sans-serif;
	font-weight: 100;
	color: white;

}
// background image
.hero{
	background: url("hero.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
	 height: 380px;
	 box-shadow: 0px 3px 8px #2a2a2a;
}
//remove white spaces
h1, h2, h3, h4, h5, h6, .navbar{
	margin:0;
}
//box
.transparent {
	 background:rgba(0,0,0, 0.5);
	color:white;
}
.transparent h1 {
	font-family: "futura-pt",sans-serif;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 4px 4px;
} 

.transparent h2 {
	font-family: "futura-pt",sans-serif;
	font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 4px 4px;
}
//button style
.btn {
  border-radius:0;
}

body {
  background: url('bg1.png');
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.booyah-box {
 background: #50a3a2; 
background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -moz-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: -o-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
margin-top:10px;
margin-bottom:15px;
padding:20px
}

.booyah-box h2, .booyah-box h1 {
  margin:10px;
}

.clr {
	clear:both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
  margin:10px;
}






















