//  styleing of navbar
.navbar{
	border-radius:0;
	font-size: 1em;
    font-family: "futura-pt",sans-serif;
    font-weight: 200;
    box-shadow: 0px 1px 3px #2a2a2a;
    background:url("congruent_outline.png")
}

.navbar-inverse a.navbar-brand {
	font-family: "futura-pt",sans-serif;
	font-weight: 100;
	color: white;

}


